* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(image/bgwallpaper.jpg);
  text-align: center;
}
#h1 {
  color: rgb(116, 24, 158);
  text-decoration: wavy underline rgb(116, 24, 158);
  font-family: Lucida Handwriting,  Cursive;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #d7d7a0;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #59aa17;
  color: #111010;
  border-radius: 1rem;
  border: none;
}

#foter {
  padding: auto;
  height: 5vmin;
  white-space: full;
  font-size: 3vmin;
  text-align: center;
  color: whitesmoke;
  background-image: linear-gradient(180deg, rgba(53, 56, 222, 0.911), rgba(222, 115, 9, 0.922));
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #39790ce8;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #800d97e3;
  font-size: 12vmin;
  font-family: Brush Script MT, Cursive;
 
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
